E:\Linggar\MAHASISWA\Kuliah Informatika\SMT 5\Pengembangan Berbasis Platform\Praktikum\Pasca-UTS\Pertemuan 1\Praktikum 1 - Pasca UTS_obed
E:\Linggar\MAHASISWA\Kuliah Informatika\SMT 5\Pengembangan Berbasis Platform\Praktikum\Pasca-UTS\Pertemuan 1\Praktikum 1 - Pasca UTS_wahyu
E:\Linggar\MAHASISWA\Kuliah Informatika\SMT 5\Pengembangan Berbasis Platform\Praktikum\Pra-UTS\Pertemuan 1 - HTML & CSS\Tugas_sebelah.jpg
*.xlsx
Format penulisan laprak.txt
IMG20190912101007.jpg
IMG20190919102358.jpg
IMG20190919114442.jpg
Link Kumpul Tugas Praktikum.txt